.contacts {

    .container {
        padding: 32px 0 64px 0;
    }

    .article__p {
        color: black;
    }

    .article__р, .article__h {
        color: black;
    }

    .contacts-form {
        margin-top: 48px;
        max-width: 600px;
        flex-wrap: wrap;
    }
}