.team {
    .container {
        padding: 100px;
    }

    .members-list {
        margin-top: 64px;
    }

    .member {
        max-width: 600px;
    }

    .members__avatars {
        max-width: 620px;
    }
}