@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('./assets/fonts/myriad_pro/MYRIADPRO-REGULAR.otf'), format('otf');
}