.drop-down {
    border-radius: $border-radius;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.drop-down__header {
    padding: 16px 0;
}

.drop-down__icon {
    margin-left: 8px;
    margin-right: 16px;
}

.drop-down__name {
    font-weight: bold;
    text-transform: uppercase;
}

.drop-down__text {
    margin-left: 32px;
}

.drop-down__content {
    max-height: 0px;
    visibility: hidden;
    
    &.visible {
        max-height: unset !important;
        visibility: visible !important;
    }
}