.review {
    .review__text {
        align-items: flex-start;
        padding: 20px 32px;
        background-color: white;
        border-radius: $border-radius;
        box-shadow: 2px 2px 5px rgb(66, 66, 66);
    }

    .review__h {
        font-size: 18px;
        font-weight: bold;
    }

    .review__icon {
        margin-right: 32px;
    }

    .review__p {
        color: #78909c;
        margin-top: 16px;
        font-weight: normal;
    }

    &--animation {
        animation-name: animation-fade;
        animation-duration: 500ms;
    }
}