@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Raleway";
  font-size: 15px;
}

h, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.column, .column--jcc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column--jcc {
  justify-content: center;
}

.row, .row--jcsb, .row--jcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.row--jcc {
  justify-content: center;
}
.row--jcsb {
  justify-content: space-between;
}

.section {
  position: relative;
  width: 100%;
}

.section__bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #26a78b, #168d96);
}

.container {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

.wrapper {
  width: 100%;
}

@keyframes animation-fade {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0);
  }
}
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  src: local("Myriad Pro"), url("./assets/fonts/myriad_pro/MYRIADPRO-REGULAR.otf"), format("otf");
}
.logo {
  max-width: 188px;
}

.logo__icon {
  margin-right: 8px;
}

.logo__text {
  text-align: left;
  text-transform: uppercase;
}

.nav__links {
  max-width: 440px;
}

.btn, .btn--drop-down, .btn--default, .btn--sign-up {
  border-radius: 5px;
  font-size: 15px;
  border: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: white;
}
.btn--sign-up {
  text-transform: none;
  border: solid white 1px;
  background-color: transparent;
}
.btn--default {
  width: 160px;
  height: 60px;
  background-color: #1de9b6;
}
.btn--drop-down {
  background-image: url("../../assets/images/drop_down_btn_icon.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
}
.btn--drop-down:hover {
  cursor: grab;
}
.btn:focus, .btn--sign-up:focus, .btn--default:focus, .btn--drop-down:focus {
  outline: none;
}

.article {
  text-align: center;
  max-width: 570px;
}

.article__h {
  font-size: 45px;
  font-weight: 600;
}

.article__sub-h {
  margin-top: 16px;
  font-size: 25px;
  font-weight: 600;
  color: #7e878b;
}

.article__p {
  margin-top: 24px;
  color: #7e878b;
}

.item__name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 16px;
}

.item__desc {
  text-align: center;
  margin-top: 16px;
  font-family: "Myriad Pro", sans-serif;
  color: #7e878b;
}

.stat {
  height: 150px;
  color: white;
}

.stat__icon {
  display: flex;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
}

.stat__icon img {
  margin: auto;
}

.stat__text {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 800;
}

.drop-down {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #424242;
}

.drop-down__header {
  padding: 16px 0;
}

.drop-down__icon {
  margin-left: 8px;
  margin-right: 16px;
}

.drop-down__name {
  font-weight: bold;
  text-transform: uppercase;
}

.drop-down__text {
  margin-left: 32px;
}

.drop-down__content {
  max-height: 0px;
  visibility: hidden;
}
.drop-down__content.visible {
  max-height: unset !important;
  visibility: visible !important;
}

.review .review__text {
  align-items: flex-start;
  padding: 20px 32px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #424242;
}
.review .review__h {
  font-size: 18px;
  font-weight: bold;
}
.review .review__icon {
  margin-right: 32px;
}
.review .review__p {
  color: #78909c;
  margin-top: 16px;
  font-weight: normal;
}
.review--animation {
  animation-name: animation-fade;
  animation-duration: 500ms;
}

.member {
  text-align: center;
}
.member--hidden {
  max-width: 0px;
  max-height: 0px;
  visibility: hidden;
}

.member__name {
  font-size: 18px;
  font-weight: bold;
  margin: 48px auto 16px auto;
}

.member__desc {
  color: #78909c;
}

.member__av:hover, .member__av--faded:hover, .member__av--hidden:hover {
  cursor: grab;
}
.member__av--hidden {
  visibility: hidden;
  max-width: 0px;
  max-height: 0px;
}
.member__av--faded {
  max-width: 128px;
  max-height: 128px;
  filter: opacity(0.5);
}

.member__socials {
  margin-top: 24px;
  font-size: 20px;
  max-width: 128px;
}
.member__socials .fa {
  color: #78909c;
}

.header * {
  color: white;
}
.header .container {
  padding: 32px 0 190px 0;
}
.header .nav {
  align-items: flex-end;
}
.header .content {
  align-items: flex-end;
  margin-top: 173px;
}
.header .link:hover {
  color: black;
}
.header .article {
  text-align: left;
  align-items: flex-start;
  max-width: 586px;
}
.header .article__h {
  font-size: 55px;
  font-weight: 800;
}
.header .article_p {
  margin-top: 30px;
  font-size: 18px;
}
.header .buttons-list {
  margin-top: 64px;
  max-width: 342px;
}
.header .btn--default {
  color: black;
  background-color: white;
}
.header .btn--default:active, .header .btn--default:focus {
  color: white;
  background-color: #061e37;
}
.header .video {
  width: 512px;
  height: 256px;
  background-color: red;
}

.home .container {
  padding-top: 64px;
}
.home .wrapper {
  width: 100%;
}
.home .article {
  margin-bottom: 105px;
}
.home .item {
  max-width: 350px;
}
.home .btn--default:focus, .home .btn--default:active {
  background-color: red;
}
.home .btn--default {
  margin: 86px 0;
}

.services {
  margin-top: 96px;
  padding-bottom: 64px;
}
.services .drop-down {
  max-width: 800px;
}
.services .services-list {
  margin-top: 78px;
  list-style-type: none;
}
.services .services-list li {
  margin-bottom: 16px;
}

.reviews .fa-angle-up, .reviews .fa-angle-down {
  font-size: 32px;
}
.reviews .container {
  padding: 32px 0;
}
.reviews .article {
  align-items: flex-start;
  text-align: left;
}
.reviews .article * {
  color: white;
}
.reviews .article__p {
  font-weight: 600;
}
.reviews .btn--default {
  margin-top: 60px;
  color: white;
  background-color: #061e37;
}
.reviews .btn--default:focus, .reviews .btn--default:active {
  background-color: white;
  color: black;
}
.reviews .review {
  max-width: 760px;
  margin: 32px;
}
.reviews .reviews-list {
  list-style-type: none;
}
.reviews .reviews-list .view {
  overflow: hidden;
  max-height: 390px;
}
.reviews .reviews-list .article__p {
  color: #7e878b;
}
.reviews .reviews-list .btn, .reviews .reviews-list .btn--sign-up, .reviews .reviews-list .btn--default, .reviews .reviews-list .btn--drop-down {
  background-color: transparent;
}
.reviews .reviews-list .btn:hover, .reviews .reviews-list .btn--sign-up:hover, .reviews .reviews-list .btn--default:hover, .reviews .reviews-list .btn--drop-down:hover {
  cursor: grab;
}

.team .container {
  padding: 100px;
}
.team .members-list {
  margin-top: 64px;
}
.team .member {
  max-width: 600px;
}
.team .members__avatars {
  max-width: 620px;
}

/*# sourceMappingURL=style.css.map */
